/*=================================================
                    GOOGLE FONT
=================================================*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');


/*=================================================
                    VARIABLES
=================================================*/

:root {
    --background: #FFFFFF;
    --text: #202020;
    --gray: #707070;
    --light: #F8F8F8;
    --pink: #FF6FB5;
    --pink-light: #FFE3F0;
    --border: #ECECEC;
}


/*=================================================
                    RESET
=================================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter',sans-serif;
    background: var(--background);
    color: var(--text);
    overflow-x: hidden;
}


/*=================================================
                ESTILOS GENERALES
=================================================*/

section {
    padding: 120px 10%;
}

h1 {
    font-size: 7rem;
    font-weight: 800;
    line-height: 1;
}

h2 {
    font-size: 3rem;
    margin-bottom: 25px;
}

h3 {
    font-size: 1.4rem;
}

p {
    color: var(--gray);
    line-height: 180%;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}


/*=================================================
                    BOTÓN
=================================================*/

.btn {
    display: inline-block;
    margin-top: 45px;
    padding: 18px 42px;
    background: var(--pink);
    color: white;
    border-radius: 50px;
    font-weight: 600;
    transition: .3s;
}

    .btn:hover {
        transform: translateY(-5px);
        box-shadow: 0 15px 35px rgba(255,111,181,.25);
    }
